:root {
  --cor-1: #ffffff;
  --cor-2: #fafafa;
  --cor-3: #f6f6f6;
  --cor-4: #ececec;
  --cor-5: #d9d9d9;
  --cor-6: #b3b3b3;
  --cor-7: #8c8c8c;
  --cor-8: #666666;
  --cor-9: #222222;
  --cor-10: #000000;

  --cor-p1: #c4a2f2;
  --cor-p2: #9c5ef2;
  --cor-p3: #6d0ff2;
  --cor-p4: #5005f2;
}

.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}

.cor-3 {
  color: var(--cor-3);
}

.cor-4 {
  color: var(--cor-4);
}

.cor-5 {
  color: var(--cor-5);
}

.cor-6 {
  color: var(--cor-6);
}

.cor-7 {
  color: var(--cor-7);
}

.cor-8 {
  color: var(--cor-8);
}

.cor-9 {
  color: var(--cor-9);
}

.cor-10 {
  color: var(--cor-10);
}

.cor-p1 {
  color: var(--cor-p1);
}

.cor-p2 {
  color: var(--cor-p2);
}

.cor-p3 {
  color: var(--cor-p3);
}

.cor-p4 {
  color: var(--cor-p4);
}
