.font-1-pp {
  font: 400 0.875rem/1.43 "Outfit", sans-serif;
}

.font-2-pp {
  font: 400 0.875rem/1.43 "Roboto", sans-serif;
}

.font-1-p {
  font: 400 1rem/1.5 "Outfit", sans-serif;
}

.font-2-p {
  font: 400 1rem/1.5 "Roboto", sans-serif;
}

.font-1-m {
  font: 400 1.5rem/1.5 "Outfit", sans-serif;
}

.font-2-m {
  font: 400 1.5rem/1.5 "Roboto", sans-serif;
}

.font-1-g {
  font: 600 2rem/1.25 "Outfit", sans-serif;
}

.font-2-g {
  font: 600 2rem/1.25 "Roboto", sans-serif;
}

.font-1-gg {
  font: 600 3rem/1.125 "Outfit", sans-serif;
}
